<form method="post" action="/task/add">
	<label>add new</label>
	<input type="text" name="task" placeholder="Add">
	<input type="submit" value="submit">
</form>

<%= title %>
<ul>
<% tasks.forEach((task)=>{%>
	<li><%= task %></li>
<%})%>
</ul>